{% extends 'base.html' %}
{% block title %}About Us - Crime RD{% endblock %}
{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">About Us</h1>
                <h6 class="text-center">Learn about our mission, vision, and the team behind this project.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto mb-5">
                <h2 class="mb-4 text-center">Our Mission</h2>
                <p class="text-center about-text">Our mission is to empower individuals and communities to understand, report, and respond effectively to cyber security incidents. We believe that a well-informed and vigilant public is crucial in mitigating the impact of cyber threats. We are committed to providing easily accessible tools, resources, and educational material to help anyone, regardless of technical expertise, navigate the complexities of cybersecurity incidents and contribute to a safer digital environment.</p>
            </div>
            <div class="col-md-10 col-12 mx-auto mb-5">
                <h2 class="mb-4 text-center">Our Vision</h2>
                 <p class="text-center about-text">Our vision is to foster a secure and resilient online environment by offering a user-friendly platform that simplifies incident reporting, provides comprehensive educational resources, and promotes collaborative efforts against cybercrime. We aspire to be a leading resource that encourages awareness, proactive measures, and collective responsibility to safeguard our digital world. Through continuous innovation and community involvement, we aim to contribute to a future where everyone can navigate digital spaces safely and confidently.</p>
            </div>
             <div class="col-md-10 col-12 mx-auto mb-5">
                <h2 class="mb-4 text-center">Our Team</h2>
                 <p class="text-center about-text">This project is a result of the passion, dedication and hard work of a diverse group of individuals with expertise in various areas of technology and cybersecurity. Here are the members who contributed to building this site:</p>
            </div>

            <div class="col-md-10 col-12 mx-auto">
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Mahesh Annayboeina</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Lead Developer & Project Manager<br>
                                    <strong>Expertise:</strong> Software Development, Project Management, Database Design and Management <br>
                                    <strong>Background:</strong> Passionate about creating scalable, user-friendly tech solutions, with experience in developing and deploying web applications.
                                </p>
                            </div>
                        </div>
                    </div>
                         <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Saahil Sawant</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> UI/UX Designer & Content Creator<br>
                                    <strong>Expertise:</strong> Web Design, User Experience, Content Writing and Management<br>
                                    <strong>Background:</strong> Passionate about creating visually appealing and intuitive user experiences with a focus on engaging and valuable content.
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}