{% extends 'base.html' %}
{% block title %}About Us - Incident Response{% endblock %}
{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">About Us</h1>
                <h6 class="text-center">Learn about our mission and team.</h6>
                <div class="about-container">
                    <p class="about-text">This website is dedicated to providing an easy way for anyone to report cyber security incidents and learn about them. Our mission is to help people understand and respond to security breaches more effectively.</p>
                    <p class="about-text">Our team has years of experience in Cyber Security, Software Development and Machine Learning.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}