{% extends 'base.html' %}
{% block title %}About Us - Incident Response{% endblock %}
{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">About Us</h1>
                <h6 class="text-center">Learn about our mission and team.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h2 class="mb-4">Our Mission</h2>
                <p>At our core, we're dedicated to empowering individuals and communities to better understand, report, and respond to cyber security incidents. We believe that a more informed and vigilant public is crucial in mitigating the impact of cyber threats. Our mission is to provide easily accessible tools and resources that help anyone, regardless of technical expertise, navigate the complexities of cybersecurity incidents.</p>
            </div>
            <div class="col-md-10 col-12 mx-auto">
                <h2 class="mb-4">Our Vision</h2>
                <p>Our vision is to foster a safer online environment by providing a user-friendly platform that facilitates incident reporting and offers comprehensive educational resources. We strive to be a leading platform that promotes awareness and proactive measures against cybercrime. Through collaboration and continuous improvement, we aim to create a more secure digital world for everyone.</p>
            </div>
             <div class="col-md-10 col-12 mx-auto">
                <h2 class="mb-4">Our Team</h2>
                <p>This project was brought to life by a dedicated group of individuals with diverse expertise and a shared passion for cybersecurity and technology. Here are the members who contributed to building this site:</p>
            </div>

            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="card team-card">
                             <div class="card-body">
                                <h5 class="card-title">Mahesh Annayboeina</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Lead Developer & Project Manager<br>
                                    <strong>Expertise:</strong> Software Development, Project Management, Database Design and Management <br>
                                    <strong>Background:</strong> Passionate about creating scalable, user-friendly tech solutions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}