<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Incident Response{% endblock %}</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body id="top">
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <i class="bi-back"></i>
                    <span>Incident Response</span>
                </a>
                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll {% if request.path == url_for('index') %}active{% endif %}"
                                href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll {% if request.path == url_for('about') %}active{% endif %}"
                                href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll {% if request.path == url_for('contact') %}active{% endif %}"
                                href="{{ url_for('contact') }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll {% if request.path == url_for('analytics') %}active{% endif %}"
                                href="{{ url_for('analytics') }}">Analytics</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                         <div class="dropdown lang-dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                English</button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Hindi</button></li>
                                <li><button class="dropdown-item" type="button">Marathi</button></li>
                                <li><button class="dropdown-item" type="button">Gujarati</button></li>
                                <li><button class="dropdown-item" type="button">Telugu</button></li>
                                <li><button class="dropdown-item" type="button">Bengali</button></li>
                                <li><button class="dropdown-item" type="button">Kannada</button></li>
                            </ul>
                        </div>
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="{{ url_for('index') }}" class="site-footer-link">Home</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="{{ url_for('about') }}" class="site-footer-link">About</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="{{ url_for('contact') }}" class="site-footer-link">Contact</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="{{ url_for('analytics') }}" class="site-footer-link">Analytics</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>
                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>
                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Legal</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="https://www.usa.gov/privacy" class="site-footer-link" target="_blank">Privacy
                                Policy</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="https://www.usa.gov/accessibility" class="site-footer-link"
                                target="_blank">Accessibility</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="https://www.fbi.gov/" class="site-footer-link" target="_blank">FBI</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- JAVASCRIPT FILES -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='js/click-scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>