{% extends 'base.html' %}
{% block title %}Contact Us - Incident Response{% endblock %}
{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Contact Us</h1>
                <h6 class="text-center">If you have any questions, please contact us.</h6>
                <div class="contact-container">
                    <p class="text-center contact-text">Contact us at: <a
                            href="mailto:info@example.com">info@example.com</a></p>
                    <p class="text-center contact-text">Call us at: <a href="tel:+15551234567">+1 (555) 123-4567</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}