{% extends 'base.html' %}
{% block title %}Prediction Results - Incident Response{% endblock %}
{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Incident Analysis Results</h1>
                {% if error %}
                <p style="color: red;" class="text-center">{{ error }}</p>
                {% else %}
                <p class="text-white text-center">
                    <strong>Predicted Attack Type:</strong>
                    <span style="font-size: 1.5em; color: yellow;">
                        {{ prediction }}
                    </span>
                </p>
                <p class="text-white"><strong>Details:</strong> {{ info }}</p>
                <h2 class="text-white">Post-Attack Steps:</h2>
                <ul class="text-white">
                    {% for step in steps %}
                    <li class="text-white">{{ step }}</li>
                    {% endfor %}
                </ul>
                <h2 class="text-white">Helplines:</h2>
                <ul class="text-white">
                    {% for key, value in helplines.items() %}
                    <li class="text-white"><strong>{{ key }}:</strong> <a class="text-white"
                            href="{{ value }}">{{ value }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="text-center">
                    <a href="{{ url_for('index') }}" class="btn custom-btn mt-2 mt-lg-3">Analyze another Incident</a>
                    <a href="{{ url_for('contact') }}" class="btn custom-btn mt-2 mt-lg-3">Report Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}